<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
            http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>zky</display-name>
    <!-- filter start-->
    <!-- CommonFilter -->
    <filter>
        <filter-name>commonFilter</filter-name>
        <filter-class>com.sx.filter.CommonFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <!-- SessionFilter -->
    <!--<filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>com.sx.filter.SessionFilter</filter-class>
        <init-param>
            <param-name>sessionKey</param-name>
            <param-value>sessionConf</param-value>
        </init-param>
        <init-param>
            <param-name>forwardUrl</param-name>
            <param-value>/login.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>excepUrlRegex</param-name>
            <param-value>
                /(servlet/Axis.*|services.*|login..*|.*LoginAction..*|..return..*|.*.css|.*.gif|.*.js|.*.jpg|.*.png|.*.bmp|totest|cdgregioncode/login)
            </param-value>
        </init-param>
    </filter>-->
    <!-- Set Character Encoding 设置servlet编码开始 -->
    <filter>
        <filter-name>Set Character Encoding</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <!-- springmvc -->
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-mvc.xml</param-value>
        </init-param>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <!-- filter end-->

    <!-- filter-mapping start-->
    <!--  commonFilter mapping-->
    <filter-mapping>
        <filter-name>commonFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- SessionFilter mapping -->
    <!--    <filter-mapping>
            <filter-name>SessionFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>-->
    <!-- Set Character Encoding mapping -->
    <filter-mapping>
        <filter-name>Set Character Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- springmvc mapping -->
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!-- filter-mapping end-->

    <!-- servlet start-->
    <!--	servlet:	SxConfigLoad -->
    <servlet>
        <servlet-name>SxConfigLoad</servlet-name>
        <servlet-class>com.sx.conf.SxConfigLoad</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--	servlet:	dbcpStart -->
    <!-- <servlet>
         <servlet-name>dbcpStart</servlet-name>
         <servlet-class>com.sx.support.dbcp.dbcpServlet</servlet-class>
         <init-param>
             <param-name>CFGFILE</param-name>
             <param-value>zky.xml</param-value>
         </init-param>
         <init-param>
             <param-name>STARTALL</param-name>
             <param-value>false</param-value>
         </init-param>
         <init-param>
             <param-name>NAMELIST</param-name>
             <param-value>MYSQL</param-value>
         </init-param>
         <load-on-startup>2</load-on-startup>
     </servlet>-->
    <!--	servlet:	struts -->
    <!-- servlet end> -->

    <!-- servlet-mapping start -->
    <!--  action servlet-mapping-->
    <!-- servlet-mapping end -->

    <!-- Spring配置文件开始  -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:applicationContext.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <!-- Spring配置文件结束 -->

    <!-- welcome-file-list start -->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <!-- welcome-file-list end -->

    <!-- error-page start -->
    <error-page>
        <error-code>404</error-code>
        <location>/common/errpage/exception.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/common/errpage/exception.jsp</location>
    </error-page>
    <error-page>
        <error-code>502</error-code>
        <location>/common/errpage/exception.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/common/errpage/exception.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/common/errpage/exception.jsp</location>
    </error-page>
    <!-- error-page end -->

    <!-- taglib start -->
    <jsp-config>
        <!-- <taglib>
             <taglib-uri>/divpage-taglib</taglib-uri>
             <taglib-location>/WEB-INF/tld/divpage-taglib.tld</taglib-location>
         </taglib>
         <taglib>
             <taglib-uri>/menutag</taglib-uri>
             <taglib-location>/WEB-INF/tld/menutag.tld</taglib-location>
         </taglib>-->
    </jsp-config>
    <!-- taglib end -->
</web-app>
